body{
    padding: 0;
    margin: 0;
    background-color: #ececec   ;
}
input[type="checkbox"]{
    height: 200px;
    width: 200px;
    -webkit-appearance: none;
    box-shadow: 
    -15px -15px 20px rgba(255,255,255,0.5),
    20px 20px 20px rgba(70,70,70,0.12);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 8px solid #ececec;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
input[type="checkbox"]:after{
    font-family: FontAwesome;
    content: '\f011';
    font-size: 115px;
    color: #7a7a7a;
    transition: 0.1s;
}
input[type="checkbox"]:checked{
    box-shadow: 
    -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
   inset -15px -15px 15px rgba(255,255,255,0.5),
   inset 15px 15px 15px rgba(70,70,70,0.12);
}
input[type="checkbox"]:checked::after{
    font-size: 95px;
    color: #15e38a;
}