body{
    padding: 0;
    margin: 0;
    background-color: #ececec;
}
input[type="checkbox"]{
    height: 200px;
    width: 200px;
    -webkit-appearance: none;
    box-shadow: 
    -15px -15px 20px rgba(255,255,255,0.5)
    20px 20px 20px rgba(70,70,70,0.12);
}